* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}


header {
    background: url(alhambra.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: rgba(168, 167, 167, 1);
}

nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}

.nav a.hover {
    transform: scale(2,2);
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    nav {
        flex-direction: column;
        margin-top: 20px;
    }
    
}